<div (click)="goToProductDetails()" class="flex flex-col cursor-pointer item-container hover:outline hover:outline-1">
  <div class="relative">
    <div class="absolute right-0 top-4">
      <app-btn-icon-favorite></app-btn-icon-favorite>
    </div>
    <img class="w-full" [src]="product.Image1" alt="{{ product.Name }}">

    <div class="absolute bottom-0 mx-1 px-1 py-0.5 bg-white price-container">
      <span>{{ product.Price }}</span>
    </div>
  </div>

  <div class="p-2.5 pb-5">
    <p class="text-sm">{{ product.Name }}</p>
    <p class="text-sm font-light">{{ product.Category }}</p>
    <p class="text-sm font-light">{{ product.Colors }}</p>

  </div>
</div>
